* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}
.ScoreMenu {
  display: flex;
  justify-content: center;
}


.grid-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snakeman {
      position:fixed;
      right:0;
      bottom:0;
      margin:0;
      padding:0;
      width:75%;
  }

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 1000px;
  width: 1000px;
  background-color: black;
  color: white;
}

.grid div {
  border: 1px solid darkgray;
  flex-grow: 1;
  height: 10%;
  width: 10%;
}

.grid div.humanSprite {
  background-image: url('../assets/sprites/Neutral.png'), radial-gradient(rgb(255, 115, 0), rgb(255, 255, 0));
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.wallTile { 
  background-image: url('/assets/sprites/wall1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.strengthTile { 
  background-color: yellow;
}

.grid div.emptyTile { 
background-color: pink;
}

.grid div.swordTile { 
background-color: red;
}

.grid div.stairs_east { 
  background-image: url('/assets/sprites/Stairs_East.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.grid div.greensnake {
  background-image: url('/assets/sprites/GreenSnake1.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
}
.grid div.redsnake {
  background-image: url('/assets/sprites/RedSnake1.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 999;
}